.skip-link{
    position: absolute;
    top: -40px;
    left: 0;
    color: black;
    background-color: white;
    z-index: 100;
}

.skip-link:focus{
  top: 10px;
}

header {
  padding: 10px;  
  background-color: #b1b1b1;
  background-size: cover;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

nav a {  
  background-color: #ffffff66;
    color: #00000099;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 15px;
    margin: 0px 10px 40px 10px;
    text-decoration: none;
    border-radius: 5px;
}

a.Turiel {
    background-color: blue;
    color: white;
}

nav a.active{
  background-color: #ffffff;
  color: #000000;
}

body{
    padding: 24px 24px;
    margin: 10px 0px;
}
    
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  /*display:flex;
  padding: 24px;*/
}

section.left{
    width: 100%;    
}

img{
    box-sizing: border-box;
    margin: 16px 2%;
    width: 100%; 
    max-width: 360px;
    height: auto;
    border: 3px solid #555000;
/*    border-radius: 8%;*/
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
  transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el ratón */
}

.left a img:nth-child(even) {
  border-radius: 50%;
}

.left a img:nth-child(3n) {
  border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}

h2 {
    color: #0070E0;
    text-transform: uppercase;
}

